<div id="messages-list" class="panel panel-info">
  <div class="panel-heading">
    <div class="panel-title"><span class="glyphicon glyphicon-bullhorn"></span>&nbsp;<b>GoingOK Messages</b><span class="header-button glyphicon glyphicon-question-sign pull-right btn btn-default" popover="{{helptext}}" placement="left"></span></div>
  </div>
  <div id="goingokMessage" class="panel-body small">
    <div *ngIf='dataLoaded()'>
      <div *ngFor="let message of getMessages()">
        <p><strong>{{message.title}}</strong>&nbsp;<span>[{{message.timestamp | date:'dd MMM yyyy'}}]</span></p>
        <div [innerHTML]="message.text"></div>
        <div>{{message.value.toString()}}</div>
        <hr />
      </div>
    </div>
  </div>
  <div class="text-center"><span class="glyphicon glyphicon-chevron-down"></span></div>
</div>