<div id="reflection-chart" class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <span class="glyphicon glyphicon-scale"></span>&nbsp;<b>GoingOK over time</b>
      <span class="header-button glyphicon glyphicon-question-sign pull-right btn btn-default" popover="{{helptext}}" placement="bottom"></span>
    </div>
  </div>
  <div class="panel-body">
    <div id="container" class="svg-container"></div>
  </div>
</div>






<!--<div>-->
  <!--<p>{{ testVariable }}</p>-->
  <!--<p>Chartdata: {{ getChartData() }} </p>-->
  <!--<button (click)="testclick()"> test click </button>-->
<!--</div>-->
