
<div id="profile-content">
  <div id="reflectchart-content" class="row-fluid">
    <div class = "col-sm-12">
      <reflection-chart [reflections]="(getReflections() | async)"></reflection-chart>
    </div>
  </div>

  <div id="main-content" class="row-fluid">

    <div id="main-left-column" class="col-sm-8">
      <entry (notify)='newReflection($event)'></entry>
      <reflection-list [reflections]="(getReflections() | async)"></reflection-list>
    </div>

    <div id="main-right-column" class="col-sm-4">
      <message-list [messages]="(getMessages() | async)"></message-list>
      <research [research] = "(getResearchChoice() | async)" (notify)='newResearch($event)'></research>
    </div><!--right-column-->
  </div><!--main-content-->
  <!--<div class="row-fluid">-->
    <!--<div class="col-sm12">-->
      <!--<p (click)="toggleDevMode()">.</p>-->
      <!--<p *ngIf="DEVELOPER_MODE">Developer Mode Enabled</p>-->
    <!--</div>-->
  <!--</div>-->
</div><!--profile-content-->


