
    <div class="col-m-10 col-sm-10 col-xs-12">
      <div>
        <h3>
          <small>Personal reflections for people on a journey</small>
        </h3>

        <p><span>GoingOK collects personal autobiographic reflections from people who are undertaking change or transition. The web application allows users to indicate how they feel they are going, and write about why they feel that way. These short reflections are collected regularly over a period of time.</span></p>
        <p>&nbsp;</p>
      </div>
      <div>
      </div>
    </div>

