
    <div class="col-m-10 col-sm-10 col-xs-12">
      <div class="alert alert-danger"><p><b>WARNING</b></p>
        <p>GoingOK is experiencing intermittent problems at the moment. We are working on fixing this as soon as possible, and will remove this warning as soon as it is fixed.</p>
      <p>You may be able to use it in the meantime, but keep a copy of your reflections as it is possible that they may not save properly.</p>
        <p>We apologise for this inconvenience</p>
      </div>
      <div>
        <h3>
          <small>Personal reflections for people on a journey</small>
        </h3>

        <p><span>GoingOK collects personal autobiographic reflections from people who are undertaking change or transition. The web application allows users to indicate how they feel they are going, and write about why they feel that way. These short reflections are collected regularly over a period of time.</span></p>
        <p>&nbsp;</p>
      </div>
      <div>
      </div>
    </div>

